!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title 通讯录
    %link{href: "assets/css/screen.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
  
    - ["jquery-1.6.4.min", "json2", "underscore", "backbone", "backbone-localstorage"].each do |f|
      %script{type: "text/javascript", src: "assets/javascripts/vendor/#{f}.js"}
      
    %script{type: "text/javascript", src: "assets/javascripts/SampleData.js"}
    %script{type: "text/javascript", src: "assets/javascripts/Weixun.js"}
    %script{type: "text/javascript", src: "assets/javascripts/Contacts.js"}
    
    %script{id: "contact_template", type: "text/html"}
      != "<img src='<%= avatar_url %>' />"
      %span.name <%= name %>
      %span.title <%= title %>
      %span.cell <%= cell %>
      
    %script{id: "contact_section_template", type: "text/html"}
      %h3.alphabet 
        %a{href:"javascript:void(0)", class:"contacts_toggler"} 
          <%= alphabet %>
          %span.hint 点击收起
        %a{href:"javascript:void(0)", class:"contacts_toggler", style:"display:none;"} 
          <%= alphabet %>
          %span.hint 点击展开
      %ul.contact_section_list
      
    %script{id: "contact_full_template", type: "text/html"}
      != "<img src='<%= avatar_url %>' />"
      %h3
        <%= name %>
        %span.title <%= title %>
      %ul.details
        %li.cell <%= cell %>
        %li.email <%= email %>
      
    :javascript
      $(function() {
        window.contacts = new Contacts(window.SampleData.contacts);
        window.contactsView = new ContactsView({collection: window.contacts});
        $("#main").append(window.contactsView.render().el);
        window.contactsView.updateContact();
      });
  %body.two_col
    #container
      %header#main_header
        %h1#logo  微讯
        %nav
          %ul
            - [['在线课堂', 'index'], ['电子书', 'books'], ['友情天地', 'feeds'], ['通讯录', 'contacts', true]].each do |item|
              %li
                %a{href: "#{item[1]}.html", class: "#{item[2] ? 'current' : ''}"}= item[0]
      #content.contacts
        %header#content_header
          %h2 通讯录
        #content_container
          #main
          #secondary
            %section.contact_details
        %footer#content_footer
